# Ignore everything
/*

# Except these files & folders
!/src
!index.html
!package.json
!tailwind.config.js
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!.prettierrc
!README.md
!eslint.config.js
!postcss.config.js

# Ignore auto generated routeTree.gen.ts
/src/routeTree.gen.ts

# Ignore generated permission contract
/src/features/authz/data/permission-contract.gen.ts

# Ignore generated wasm-pack output
/src/features/raw-materials/batch-engine/wasm/pkg